/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arimo";
}

nav {
  background-color: #540b51;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar img {
  width: 100px;
  height: auto;
}

header {
  background-color: #540b51;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.button-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.button-container button {
  border: none;
  background: none;
  padding: 0;
}

header h1 {
  color: white;
  text-align: center;
}

header p {
  color: white;
  text-align: center;
}

header p span {
  color: orange;
}

.button-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  
}

.button-container2 button {
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px; 
  
}

.button-container2 img{
  width: 50px;
}

#testID img {
  width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
}

.logos {
  /* min-height: 200px; */
  display: flex;
  flex-direction: column;
  background-color: #F3EAE2;
  gap: 10px;
  padding: 50px 10px;
} 

.logos p{
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.company-logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.company-logos img {
  width: 120px;
  height: 60px;
  object-fit: contain;
}

.company-logos img:nth-child(5) {
  width: 200px;
  height: auto;
}
@media (width < 768px) {
  .navbar ul {
    display: none;
  }

  /* .company-logos {
    gap: 20px;
  } */

  /* .company-logos img {
    width: 90px;
  } */

  /* .button-container button {
    border: none;
    background: none;
    padding: 0;
    width: 100px;
  }  */
  /* nav img {
    width: 100px;
    background-color: #540b51;
    margin: 0;
    padding: 0;
  }  */
}
