/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arimo";
}

nav {
  background-color: #540b51;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar img {
  width: 100px;
  height: auto;
  padding: 20px;
}

header {
  background-color: #540b51;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.button-container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding: 20px;
}

.button-container button {
  border: none;
  background: none;
  padding: 0;
}

header h1 {
  color: white;
  text-align: center;
  letter-spacing: 1.5px;
  padding: 0 20px;
  font-size: 40px;
}

header p {
  color: white;
  text-align: center;
  letter-spacing: 1px;
}

header p span {
  color: orange;
}

.button-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  padding: 20px;
}

.button-container2 button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  border-color: none;
  border-style: none;
}

.button-container2 :first-child {
  color: #540b51;
}

.button-container2 button:nth-child(2) {
  background-color: #4285f4;
  color: white;
  text-align: center;
  position: relative;
}

.button-container2 button:nth-child(2) img {
  position: absolute;
  left: 5px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 2px;
}

#testID img {
  width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
}

.logos {
  /* min-height: 200px; */
  display: flex;
  flex-direction: column;
  background-color: #f3eae2;
  gap: 10px;
  padding: 50px 10px;
}

.logos p {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.company-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.company-logos img {
  width: 120px;
  height: 60px;
  object-fit: contain;
}

.company-logos img:nth-child(5) {
  width: 200px;
  height: auto;
}

.stats {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
}
.big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats h3 {
  text-align: center;
  color: #540b51;
  font-weight: 1000;
  font-size: 40px;
  margin-bottom: 0px;
}

.stats p {
  font-size: 20px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
  margin-top: 10px;
  /* justify-content: space-between; */
}

.stats-container {
  width: 40%;
  height: auto;
  align-self: center;
  color: #540b51;
  font-weight: 1000;
}

.stats-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.stats-container li p:first-child {
  font-size: 80px;
  width: 80%;
  margin: none;
  align-self: center;
}

.stats-container li p:nth-child(2) {
  width: 300px;

  align-self: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  background-color: #540b51;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.welcome h3 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.welcome button {
  padding: 10px;
  margin: 10px;
  width: 90%;
  height: 45px;
  text-transform: uppercase;
  font-weight: 750;
  border-radius: 2px;
  border-color: none;
  border-width: 1px;
  color: #540b51;
}

.welcome button:nth-child(3) {
  border-color: white;
  border-style: solid;
  background-color: #540b51;
  border-width: 2px;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
}

footer hr {
  border: none;
  border-top: 2px solid #e9e7e7;
  width: 90%;
  margin-top: 40px;
}

footer ul {
  list-style-type: none;
}

.first-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 15px;
  font-weight: 700;
}

footer ul li:nth-child(7) {
  color: #4285f4;
}

.social-list ul {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 0;
  font-size: 25px;
}

#trademark {
  display: flex;
  margin: 20px;
  text-align: center;
  color: #454245;
  margin-bottom: 50px;
}

@media (width < 768px) {
  .navbar ul {
    display: none;
  }
  #testID {
    overflow: hidden;
  }

  #testID img {
    width: 150%;
    max-width: none;
    height: 120%;
  }
}

@media (width < 1024px) and (width >= 768px) {
  .navbar ul {
    display: none;
  }

  header {
    flex-direction: row;
  }

  header h1 {
    text-align: left;
  }

  header p {
    text-align: left;
    padding-left: 20px;
  }

  header > div:first-child {
    flex: 70%;
  }

  #testID {
    flex: 30%;
    overflow: hidden;
  }

  #testID img {
    width: 170%;
    max-width: none;
    height: auto;
  }

  .company-logos {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 10px;
  }

  .stats {
    margin: 10px;
  }

  .stats h3 {
    font-size: 32px;
  }

  .stats > p {
    font-size: 16px;
  }

  .big-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .stats-container {
    display: flex;
    text-align: left;
    flex: 1;
    margin: 0 0 0 15px;
    padding: none;
  }
  .stats-container ul {
    display: flex;
    padding: 0;
    margin-bottom: 40px;
  }

  .stats-container li p:first-child {
    font-size: 48px;
    width: 100%;
    text-align: left;
  }

  .stats-container li p:nth-child(2) {
    font-size: 14px;
    width: 70%;
    line-height: 1.4;
    text-align: left;
    overflow-wrap: break-word;
    margin: 0;
  }

  .welcome button {
    width: 80%;
  }

  .first-list {
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
  }

  .social-list ul {
    width: 40%;
    justify-content: space-between;
    margin: 10px;
  }
}


@media (width >= 1024px) and (width < 1440px) {
  body {
    background-color: yellow;
  }

  nav {
    display: flex;
    font-weight: 700;
    width: 100%;
    justify-content: space-between;
    justify-self: center;
  }

  .navbar {
    display: flex;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .button-container {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }

  .button-container button:nth-child(2) {
    display: none;
  }

  .button-container ul[hidden] {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
  }

  .button-container ul li:nth-child(2) a {
    color: #540b51;
    text-transform: uppercase;
    background-color: white;
    border: white;
    border-style: solid;
    border-width: 10px;
    height: 50px;
    border-radius: 3px;
    font-weight: 600;
  }

  header {
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  header h1 {
    text-align: left;
    font-size: 60px;
    max-width: 90%;
  }

  header p {
    text-align: left;
    padding-left: 20px;
  }

  header > div:first-child {
    flex: 50%;
  }

  #testID {
    flex: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  #testID img {
    display: flex;
    align-items: center;
    width: 120%;
    justify-content: center;
    padding-top: 50px;
  }

  .stats {
    margin: 10px;
  }

  .stats h3 {
    font-size: 32px;
  }

  .stats > p {
    font-size: 16px;
  }

  .big-container {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
  }

  .stats-container {
    display: flex;
    justify-content: center;
    text-align: left;
    flex: 1;
    margin: 0 0 0 15px;
    padding: none;
  }
  .stats-container ul {
    display: flex;
    padding: 0;
    margin-bottom: 40px;
    justify-content: end;
  }

  .stats-container li p:first-child {
    font-size: 48px;
    width: 100%;
    text-align: left;
  }

  .stats-container li p:nth-child(2) {
    font-size: 14px;
    width: 70%;
    line-height: 1.4;
    text-align: left;
    overflow-wrap: break-word;
    margin: 0;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 40%;
  }

  .welcome  div  button {
    flex: 1;
    margin: 0;
    padding: 15px;
    height: 50px;
    border: none;
    background-color: white;
  } 

  .welcome div button:nth-child(2) {
    background-color:#540b51;
    color:#e9e7e7;
    border: solid;
    border-width: 2px;
    border-radius: 3px;
  }
   
}


